header md-toolbar {
    padding: 1em;
}

header a {
    text-decoration: none;
    color: white;
}

aside{
    background-color: #00BCD4;
    color: white;    
}

button a  {
    text-decoration: none;
    color: white;    
}

aside a {
    text-decoration: none;
    color: white;    
}

aside li {
    text-decoration: none;
    color: white;
    list-style-type: none;
}

footer {
    padding-right: 1em;
}

main {
    overflow-y: auto;
}

md-content {
    padding: 1em;
}

md-item-content {
    cursor: pointer;    
}

md-item-content md-card:hover {
    background-color: #afafaf;
}

md-input-group {
    margin-left: 1em;
}

md-input-group.long > input {
    width: 23.5em;
}

footer a {
    text-decoration: none;
    color: white;    
}

.filter {
    padding: 1em;
}

.md-whiteframe-z1 {
    padding: 1em;
}